intranet website (done)
database - part number, price, duty percentage, discount, family code (done)
input part number, qty => total price (also show duty percentage, and discount) (done)
allow 10 rows in interface for query (done)
data ingestion through excel (multiple sheets, non-standard cell structure) (done)
make it in such a way that contents of web page cannot be copied (disable right-click) (done)
add 5 more search rows (free) (done)
disallow Ctrl+C in items_query_result.jsp (free) (done)
bug - duties displaying wrongly (free) (done)
for long column names, wrap them downwards (free) (done)
part number, qty, description, addinfo1-3, equipment-package ref, graco ref, <graco columns>, duties, selling price, total price, dynaflo discount code - IN THIS ORDER (free) (done)
graco fields, duties, dynaflo discount code, qty should be centred in search results page (free) (done)
add hard-coded irac notes, display only during irac items (only irac items have IAV prefix)  (free) (done)
add grand total row (free) (done)
ensure 2 decimal points for selling price and total price (free) (done)
bug - selling price being truncated from 2 decimal points to 1 during import (free) (done)
pressing enter triggers calculation in search page (free) (done)
add user login screen - differentiate between admin and operator (done)
bug - import not working in war file version (free) (done)


phase 2
non-related fields to be left blank instead of displaying “0” or “-“ or “01/01/1970” (free) (done)
Overall font size can be 1 down to allow for more fields to be displayed on the first screen (done)
All dates should be DD/MM/YY (free) (done)
All percentages except for Duties to be round numbers. Duties to only have 1 decimal (free) (done)
At the moment, the INOX brand P/N XRAAGM150 does not return a search result (free) (done)
need to redo column management due to new format - just copy-paste repeating set of columns (free) (done)
database transactions should be implemented (free)
add brand column in items_master, add brand search criteria (done) (0.5days)
remove original structure - put results and search function on one page, removed 10 fixed rows, allow search to return multiple results. column rearrangement according to sample file (done) (1days)
make sure part number column is long enough to display most of part number in single line. smaller font, calibri (done) (free)
percentage symbol moved to data fields (done) (free)
Graco Family Disc and Std. Disc were displaying 0 for non-Graco items. This is now left blank (done) (free)
selling price column has different colour (done) (free)
lead time (days) column displays empty string if value is 0 (done) (free)
retain search values in item_query.jsp after searching (done)
build brand info table on items_query.jsp (done)
permanent variables table is linked to brand - new brand table, configurable by admin (0.5days) (done)
update brands table each time data import is done (done)
remove register link from login page, allow only admins to register new users (0.5days) (done)
fix the width of each column (0.5days)
allow individual rows to be highlighted in search results - should not clash with right click disable code 




phase 3
split server implementation - 2 servers each with its own tomcat and database. any upload to one instance automatically updates both databases
using serverlink (remote desktop/vpn)
going online






need bootstrap script to create temp and tomcat/webapps/data folder for file upload purposes (optional)


outside scope:
is there a way to restrict file copy operations within a server but can open the file to view

possible update:
internet capability (security - encryption, login, etc.)

current price:
current man/day count = 5 as of 3rd Sept 2016 (first review)
day rate = RM350

