<!-- CSS goes in the document HEAD or added to your external stylesheet -->

<style type="text/css">
table.gridtable {
	font-family: calibri,arial,sans-serif;
	font-size:15px;
	color:#000000;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	
	/* stops selection of text */
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          not supported by any browser */
}
table.gridtable th {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 5px;
	border-style: solid;
	border-color: #666666;	
}


table.cleartable {
	font-family: calibri,arial,sans-serif;
	font-size:15px;
	color:#000000;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

table.cleartable th {
	border-width: 1px;
	padding: 5px;
	background-color: #dedede;
}
table.cleartable td {
	border-width: 1px;
	padding: 5px;
	background-color: #ffffff;
}

input.partNumber {
	width: 160px;
}

div.criteria {
    overflow: hidden;
}

.highlight { 
	background-color: pink; 
}

.sellDefault { 
	background-color: #ffff99;
}

/* The set below is specifically for the pagination buttons */
tr:hover:not(th) {background-color: rgba(237,28,64,.1);}

input[type="button"] {
    transition: all .3s;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 15px;
}

input[type="button"]:not(.active) {
    background-color:transparent;
}

.active {
    background-color: #ff4d4d;
    color :#fff;
}

input[type="button"]:hover:not(.active) {
    background-color: #ddd;
}
/* Pagination set ends */

</style>
